.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #cbf3f0;
    color: #ffbf69;
    padding: 1% 0;
    font-size: 1.2em;
    border: 0;
}

.navbar-brand {
    float: left;
    /* min-height: 55px; */
    padding: 0 15px 5px;
}

.navbar-name {
    font-weight: bold;
    color: #ffbf69;
    background-color: #cbf3f0;
}

/* resource: https://stackoverflow.com/questions/24420080/change-navbar-text-color-bootstrap */
.navbar-nav.ml-auto li a{
    color: #ffbf69;
}

/* resource: https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
 .navbar-toggler {
    border-color: #ffbf69;
  } 

.box {
  column-rule: 4px double
  padding: 15px;
  border-radius: 15px 15px 15px 15px;
  background-color: #faf9f9;
}

.img-fluid {
    max-width: 100px;
    width:100%;
}

/* Style Carousel Buttons */
/* resource: https://stackoverflow.com/questions/46249541/change-arrow-colors-in-bootstraps-carousel/49017805 */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 100px;
  /* outline: black; */
  background-size: 100%, 100%;
  border-radius: 50%;
  /* border: 1px solid black; */
  background-image: none;
}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #ffbf69;
}
.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #ffbf69;
}

.carousel-inner > .carousel-item > a > img {
  width: 60%;
  height: 60%;
}

.snip {
  background-color: #faf9f9;
  padding: 15px;
  border-radius: 15px 15px 15px 15px;
}